<p class="text-gray-600 leading-relaxed">
    In questa pagina si descrivono le modalità di gestione del sito in riferimento al trattamento dei dati personali degli utenti che lo consultano.
    <br><br>
    L'informativa è resa solo per il sito di Passione Calabria e non anche per altri siti web eventualmente consultati dall'utente tramite link.
    <br><br>
    <strong>Titolare del trattamento</strong>
    <br>
    Il Titolare del trattamento è Passione Calabria, con sede in Calabria, Italia.
    <br><br>
    <strong>Tipi di dati trattati</strong>
    <br>
    I dati personali raccolti da questo sito, in modo autonomo o tramite terze parti, sono: Cookie, Dati di utilizzo, Email e Nome.
</p>
